<div class="carousel">
    <div class="list">
        <div class="item">
            <img src="../images/Ban_Car1.png" alt="">
            <div class="content">
                <div class="auther">Hello</div>
                <div class="title">Car design</div>
                <div class="topic"></div>
                <div class="des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore voluptatibus, libero unde illo, error, delectus rem magnam laborum porro velit sit non facere. Repellendus nostrum, esse qui voluptatem illo numquam quam excepturi? Earum harum consequatur sint! Aliquid, illo animi labore libero iusto omnis culpa sunt dolore sint, alias, consequuntur cupiditate.</div>
                <div class="buttons">
                    <button>
                        SEE MORE
                    </button>
                     <button>
                        SUBCRIBE
                    </button>
                </div>
            </div>
        </div>

         <div class="item">
            <img src="../images/Ban_Car3.png" alt="">
            <div class="content">
                <div class="auther">Hello</div>
                <div class="title">Car design</div>
                <div class="topic"></div>
                <div class="des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore voluptatibus, libero unde illo, error, delectus rem magnam laborum porro velit sit non facere. Repellendus nostrum, esse qui voluptatem illo numquam quam excepturi? Earum harum consequatur sint! Aliquid, illo animi labore libero iusto omnis culpa sunt dolore sint, alias, consequuntur cupiditate.</div>
                <div class="buttons">
                    <button>
                        SEE MORE
                    </button>
                     <button>
                        SUBCRIBE
                    </button>
                </div>
            </div>
        </div>


         <div class="item">
            <img src="../images/Ban_Car2.png" alt="">
            <div class="content">
                <div class="auther">Hello</div>
                <div class="title">Car design</div>
                <div class="topic"></div>
                <div class="des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore voluptatibus, libero unde illo, error, delectus rem magnam laborum porro velit sit non facere. Repellendus nostrum, esse qui voluptatem illo numquam quam excepturi? Earum harum consequatur sint! Aliquid, illo animi labore libero iusto omnis culpa sunt dolore sint, alias, consequuntur cupiditate.</div>
                <div class="buttons">
                    <button>
                        SEE MORE
                    </button>
                     <button>
                        SUBCRIBE
                    </button>
                </div>
            </div>
        </div>


         <div class="item">
            <img src="../images/Ban_car4.png" alt="">
            <div class="content">
                <div class="auther">Hello</div>
                <div class="title">Car design</div>
                <div class="topic">nai</div>
                <div class="des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore voluptatibus, libero unde illo, error, delectus rem magnam laborum porro velit sit non facere. Repellendus nostrum, esse qui voluptatem illo numquam quam excepturi? Earum harum consequatur sint! Aliquid, illo animi labore libero iusto omnis culpa sunt dolore sint, alias, consequuntur cupiditate.</div>
                <div class="buttons">
                    <button>
                        SEE MORE
                    </button>
                     <button>
                        SUBCRIBE
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="thumbnali">
        <div class="item">
            <img src="../images/Ban_Car1.png" alt="">
            <div class="content">
                <div class="title">
                    name slider
                </div>
                <div class="des">
                    Description
                </div>

            </div>
        </div>
        <div class="item">
            <img src="../images/Ban_Car2.png" alt="">
            <div class="content">
                <div class="title">
                    name slider
                </div>
                <div class="des">
                    Description
                </div>

            </div>
        </div>

        <div class="item">
            <img src="../images/Ban_Car3.png" alt="">
            <div class="content">
                <div class="title">
                    name slider
                </div>
                <div class="des">
                    Description
                </div>

            </div>
        </div>

        <div class="item">
            <img src="../images/Ban_car4.png" alt="">
            <div class="content">
                <div class="title">
                    name slider
                </div>
                <div class="des">
                    Description
                </div>

            </div>
        </div>


    </div>
</div>
