.carousel{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: 0px;
    position: relative;

}
.carousel .list .item{
    position:absolute;
    inset: 0 0 0 0;
}

.carousel .list .item img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.carousel .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: azure;
    text-shadow: 0 5px 10px #0004;

}
.carousel .list .item .content .auther{
    font-size: bold;
    letter-spacing: 10px;
}
.carousel .list .item .content .title,
.carousel .list .item .content .topic{
    font-weight: bold;
    font-size: 5em;
    list-style: 1.3em;
}
.carousel .list .item .content .topic{
    color: #f1683a;
}
.carousel .list .item .content .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.carousel .list .item .content button{
    border: none;
    background-color:#f1683a;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;

}
.carousel .list .item .content button:nth-child(2)
{
    background-color: transparent;
    color: aliceblue;
    border: 1px solid aliceblue;
}
.thumbnali{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnali .item{
    width:150px ;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnali .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    
}
.thumbnali .item .content{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}