<form [formGroup]="registrationForm" (ngSubmit)="submit()" id="body">

  <div class="wrapper">
    <div class="login_box">

      <div class="login_header">
        <span>Registration</span>
      </div>

      <!-- EMAIL -->
      <div class="input_box">
        <input
          type="email"
          class="input-field"
          id="email"
          formControlName="email"
          autocomplete="username"
        >
        <label for="email" class="label">User Name / Email</label>
        <i class="bx bx-user icon"></i>
      </div>

      <!-- PASSWORD -->
      <div class="input_box">
        <input
          type="password"
          id="password"
          class="input-field"
          formControlName="password"
          autocomplete="new-password"
        >
        <label for="password" class="label">Password</label>
        <i class="bx bx-lock-alt icon"></i>
      </div>

      <!-- CONFIRM PASSWORD -->
      <div class="input_box">
        <input
          type="password"
          id="confirmPassword"
          class="input-field"
          formControlName="confirmPassword"
          autocomplete="new-password"
        >
        <label for="confirmPassword" class="label">Confirm Password</label>
        <i class="bx bx-shield-quarter icon"></i>
      </div>

      <!-- PASSWORD MISMATCH ERROR -->
      <div
        class="error"
        *ngIf="registrationForm.errors?.['passwordMismatch'] && registrationForm.touched">
        Password and Confirm Password do not match
      </div>

      <!-- TERMS -->
      <div class="remember_forget">
        <div class="remember-me">
          <input type="checkbox" id="terms">
          <label for="terms">
            I agree all statements in <a href="#">terms of service</a>
          </label>
        </div>
      </div>

      <!-- SUBMIT -->
      <div class="input_box">
        <input
          type="submit"
          class="input_submit"
          value="Register"
          [disabled]="registrationForm.invalid"
        >
      </div>

    </div>
  </div>

</form>
