<div class="dashboard-container">

  <!-- Sidebar -->
  <div class="sidebar">
    <div class="profile-section text-center">
      <img [src]="user?.profileImageUrl || 'images/default-user.png'" class="profile-img" />
     
      <h5 class="mt-2">{{user.userName}}</h5>
    </div>

    <ul>
      <li (click)="setTab('profile')" [class.active]="activeTab==='profile'">🧑 Profile</li>
      <li (click)="setTab('orders')" [class.active]="activeTab==='orders'">🚗 My Orders</li>
      <li (click)="setTab('wishlist')" [class.active]="activeTab==='wishlist'">❤️ Wishlist</li>
      <li (click)="setTab('security')" [class.active]="activeTab==='security'">🔐 Security</li>
    </ul>
  </div>

  <!-- Content -->
  <div class="content">

    <!-- Profile Tab -->
    <div *ngIf="activeTab==='profile'">
      <h3>Profile Information</h3>

<form  [formGroup]="profileForm" class="mt-3" (ngSubmit)="updateProfile()">
        <div class="mb-3">
          <label>Full Name</label>
          <input class="form-control" formControlName="fullName">
        </div>

        <div class="mb-3">
          <label>Email</label>
          <input class="form-control" formControlName="email">
        </div>

       <div class="mb-3">
      <label>User Name</label>
      <input class="form-control" formControlName="userName" readonly>
    </div>

    <div class="mb-3">
      <label>Phone</label>
      <input class="form-control" formControlName="phoneNumber">
    </div>

    <div class="mb-3">
      <label>Country</label>
      <input class="form-control" formControlName="country">
    </div>

    <div class="mb-3">
      <label>City</label>
      <input class="form-control" formControlName="city">
    </div>

    <div class="mb-3">
      <label>Address</label>
      <input class="form-control" formControlName="streetAddress">
    </div>

    <div class="mb-3">
      <label>Postal Code</label>
      <input class="form-control" formControlName="postalCode">
    </div>

    <div class="mb-3">
      <label>Driving License</label>
      <input class="form-control" formControlName="drivingLicenseNumber">
    </div>

    <div class="mb-3">
      <label>Expiry Date</label>
      <input type="date" class="form-control" formControlName="licenseExpiryDate">
    </div>
     <div class="mb-3">
      <label>Upload Image</label>
       <input type="file" (change)="onFileSelect($event)" class="form-control mt-2">
    </div>

   
    <button class="btn btn-primary">Update Profile</button>
      </form>
      
    </div>

    <!-- Orders Tab -->
    <div *ngIf="activeTab==='orders'">
      <h3>My Orders</h3>

      <div class="order-card" *ngFor="let order of [1,2,3]">
        <img src="https://source.unsplash.com/400x200/?car" />
        <div class="p-3">
          <h5>Toyota Corolla</h5>
          <p>Price: $20,000</p>
          <span class="badge bg-success">Delivered</span>
        </div>
      </div>
    </div>

    <!-- Wishlist Tab -->
    <div *ngIf="activeTab==='wishlist'">
      <h3>Wishlist</h3>

      <div class="wishlist-grid">
        <div class="car-card" *ngFor="let car of [1,2,3,4]">
          <img src="https://source.unsplash.com/300x200/?sports-car">
          <h6 class="mt-2">BMW M4</h6>
          <button class="btn btn-outline-danger btn-sm">Remove</button>
        </div>
      </div>
    </div>

    <!-- Security Tab -->
    <!-- <div *ngIf="activeTab==='security'">
      <h3>Change Password</h3>

      <form [formGroup]="passwordForm" class="mt-3">
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Current Password" formControlName="currentPassword">
        </div>

        <div class="mb-3">
          <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword">
        </div>

        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
        </div>

        <button class="btn btn-danger">Update Password</button>
      </form>
    </div> -->

  </div>
</div>