<div class="dashboard-container">

  <!-- Sidebar -->
  <div class="sidebar">
    <div class="profile-section text-center" *ngIf="user">
      <img [src]="user.profileImageUrl || 'images/default-user.png'" class="profile-img" />
     
      <h5 class="mt-2">{{user.userName}}</h5>
    </div>

    <ul>
      <li (click)="setTab('profile')" [class.active]="activeTab==='profile'">🧑 Profile</li>
      <li (click)="setTab('orders')" [class.active]="activeTab==='orders'">🚗 My Orders</li>
      <li (click)="setTab('wishlist')" [class.active]="activeTab==='wishlist'">❤️ Wishlist</li>
      <li (click)="setTab('security')" [class.active]="activeTab==='security'">🔐 Security</li>
    </ul>
  </div>

  <!-- Content -->
  <div class="content">

    <!-- Profile Tab -->
    <div *ngIf="activeTab==='profile'">
      <h3>Profile Information</h3>

<form  [formGroup]="profileForm" class="mt-3" (ngSubmit)="updateProfile()">
        <div class="mb-3">
          <label>Full Name</label>
          <input class="form-control" formControlName="fullName">
        </div>

        <div class="mb-3">
          <label>Email</label>
          <input class="form-control" formControlName="email">
        </div>

       <div class="mb-3">
      <label>User Name</label>
      <input class="form-control" formControlName="userName" readonly>
    </div>

    <div class="mb-3">
      <label>Phone</label>
      <input class="form-control" formControlName="phoneNumber">
    </div>

    <div class="mb-3">
      <label>Country</label>
      <input class="form-control" formControlName="country">
    </div>

    <div class="mb-3">
      <label>City</label>
      <input class="form-control" formControlName="city">
    </div>

    <div class="mb-3">
      <label>Address</label>
      <input class="form-control" formControlName="streetAddress">
    </div>

    <div class="mb-3">
      <label>Postal Code</label>
      <input class="form-control" formControlName="postalCode">
    </div>

    <div class="mb-3">
      <label>Driving License</label>
      <input class="form-control" formControlName="drivingLicenseNumber">
    </div>

    <div class="mb-3">
      <label>Expiry Date</label>
      <input type="date" class="form-control" formControlName="licenseExpiryDate">
    </div>
     <div class="mb-3">
      <label>Upload Image</label>
       <input type="file" (change)="onFileSelect($event)" class="form-control mt-2">
    </div>

   
    <button class="btn btn-primary">Update Profile</button>
      </form>
      
    </div>
<!-- Order Tab -->
   
  

    <div *ngIf="activeTab==='orders'" class="container mt-4">
  <h3 class="mb-4 fw-bold text-primary">My Orders</h3>

  <!-- order Empty -->
  <div *ngIf="orders.length===0" class="text-center text-muted">
    <p>No Order found</p>
  </div>


<div class="order-card d-flex align-items-center" *ngFor="let order of orders">

  <!-- LEFT: IMAGE -->
  <div class="order-img">
    <img [src]="order.carImage" class="img-fluid rounded" />
  </div>

  <!-- RIGHT: DETAILS -->
  <div class="order-details ms-4">
    <h5 class="fw-bold">{{order.carName}}</h5>
    <p><strong>Brand:</strong> {{order.brand}}</p>
    <p><strong>Price:</strong> {{order.price}}</p>
    <p><strong>Status:</strong> {{order.status}}</p>
    <p><strong>Order Date:</strong> {{order.orderDate}}</p>
  </div>

</div>
    </div>




    <!-- Wishlist Tab -->
   <div *ngIf="activeTab==='wishlist'">
  <h3>Wishlist :</h3>

  <div *ngIf="wishlist.length === 0">
    <p>No wishlist items found</p>
  </div>

  <div class="wishlist-grid">
    <div class="car-card" *ngFor="let item of wishlist">
      
      <img [src]="item.car.imageUrl" />

      <h6 class="mt-2">{{ item.car.name }}</h6>
       <p>{{ item.car.price }}</p>

      <button class="btn btn-outline-danger btn-sm">
        Remove
      </button>

    </div>
  </div>
</div>

    <!-- Security Tab -->
    <!-- <div *ngIf="activeTab==='security'">
      <h3>Change Password</h3>

      <form [formGroup]="passwordForm" class="mt-3">
        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Current Password" formControlName="currentPassword">
        </div>

        <div class="mb-3">
          <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword">
        </div>

        <div class="mb-3">
          <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
        </div>

        <button class="btn btn-danger">Update Password</button>
      </form>
    </div> -->

  </div>
</div>